
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Black #191716 */
/* White #FFFFF */
/* Lightblue #C9C9F7 */
/* Blue #2C32BE */
/* Skyblue #00A3FF*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/************** Header ****************/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 4rem;
}

.navlinks ul {
    display: flex;   
}

.navlinks li {
    list-style: none;
    font-size: 1rem;
    color: #2C32BE;
    text-transform: uppercase;
    margin: 0px .8rem;
}

.navlinks a {
    text-decoration: none;
}

.navlinks a:hover {
    border-radius: 5px;
    font-size: .85rem;
    background-color: #2C32BE;
    border: 1px solid #2C32BE;
    color: #fff;
    padding: .25rem .5rem;
}


/************** Introduction ****************/
.hero {
    background-image: url(img/illustration-0.png);
    background-position: center;
    height: 65vh;
    background-size: 70%; 
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 4rem;
}

.hero h1 {
    font-size: 3rem;
    color: #2C32BE;
    margin-top: 4rem;
}

.hero p {
    font-size: 1.2rem;
    color: rgb(61, 61, 68);
    padding-top: 1.5rem;
}

.links img {
    width: 130px;
    height: 40px;
    margin: 20px 5px 0 5px;
}



/************** Getting Started ****************/
.setup {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    background-color: #2C32BE;
    color: #fff;
}

.getstarted {
    background: url(img/Group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-left: 4rem;
    width: 50%;
}

.setup h1 {
    font-size: 4rem;
    margin-top: 100px;
}

.article {
    margin-right: 4rem;
    width: 50%;
}

.list {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.list span {
    font-size: 8rem;
    font-weight: 700;
    opacity: 0.3;
}

.list h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 5px 2px;
}

.list p {
    font-size: 1.45rem;
    margin: 5px 2px;
}




/************** Saving ****************/
.saving {
    display: flex;
    justify-content: space-between;
}

.saving h1 {
    color:  #00A3FF;
    font-size: 50px;
    margin: 150px auto 5px;
}

.saving p {
    font-size: 23px;
    color: rgb(61, 61, 68);
    margin-bottom: 30px;
}

.saving-img {
    margin: 50px auto;
    max-width: 100%;
    height: 40%;
}


/************** Vision ****************/

.vision {
    position: relative;
    justify-content: space-evenly;
    background-color:#2C32BE ;
    color: #fff;
    border-radius: 35px;
    text-align: center;
    margin: 30px 100px;
}

.vision h1 {
    font-size: 50px;
    padding: 40px 5px 10px 5px;
}

.vision p {
    font-size: 23px;
    padding: 20px;
}

.icon-group {
    display: flex;
    justify-content: center;
}

.icons {
    font-size: 15px;
    padding: 40px;
}


/************** Footer ****************/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

footer a {
    text-decoration: none;
}

footer ul li {
    list-style-type: none;
    margin: 30px 40px;
    text-align: right;
}

