@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Black #191716 */
/* White #FFFFF */
/* Lightblue #C9C9F7 */
/* Blue #2C32BE */
/* Skyblue #00A3FF */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/************** Header ****************/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 4rem;
}

.navlinks ul {
    display: flex;
}

.menu li {
    list-style: none;
    text-transform: uppercase;
    margin: 0 .7rem;
    text-decoration: none;
    color:  #2C32BE; 
}

.menu a {
    text-decoration: none;
    font-size: .8rem;
    color:  #2C32BE; 
}

.menu a:hover {
    border-radius: 5px;
    font-size: .7rem;
    background-color: #2C32BE;
    color: #fff;
    padding: .3rem .4rem;
    transition: all  ease;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    user-select: none;
}


/************** Introduction ****************/
.hero {
    background-image: url(img/illustration-0.png);
    background-position: center;
    height: 65vh;
    background-size: 70%; 
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 4rem;
}

.hero h1 {
    font-size: 3rem;
    color: #2C32BE;
    margin-top: 5rem;
}

.hero p {
    font-size: 1.2rem;
    color: rgb(61, 61, 68);
    padding-top: 1.5rem;
}

.links img {
    width: 130px;
    height: 40px;
    margin: 20px 5px 0 5px;
}


/************** Getting Started ****************/
.setup {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: #2C32BE;
    color: #fff;
}

.getstarted {
    background: url(img/Group.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: 70%;
    margin-left: 4rem;
    width: 45%;
}

.setup h1 {
    font-size: 4rem;
    margin-top: 130px;
}

.article {
    margin-right: 4rem;
    width: 50%;
}

.list {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.list span {
    font-size: 8rem;
    font-weight: 700;
    opacity: 0.3;
}

.list h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin: 5px 2px;
}

.list p {
    font-size: 1.45rem;
    margin: 5px 2px;
}

.two {
    background-color: #00A3FF;
}


/************** Saving ****************/
.saving {
    height: 75vh;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.saving h1 {
    color:  #00A3FF;
    font-size: 4rem;
    margin: 100px 0px 5px 0px;
}

.saving p {
    font-size: 1.45rem;
    line-height: 35px;
    color: rgb(61, 61, 68);
    margin-bottom: 15px;
}

.save {
    margin-left: 4rem;
}

.saving-img {
    margin: 1.5rem 8rem 1rem 0;
}


/************** Vision ****************/
.vision {
    position: relative;
    justify-content: space-evenly;
    background-color:#2C32BE ;
    color: #fff;
    border-radius: 35px;
    text-align: center;
    margin: 30px 100px;
}

.vision h1 {
    font-size: 50px;
    padding: 40px 5px 10px 5px;
}

.vision p {
    font-size: 23px;
    line-height: 30px;
    padding: 20px;
}

.icon-group {
    display: flex;
    justify-content: center;
}

.icons {
    font-size: 15px;
    padding: 40px;
}

.icons h4{
    margin: 10px 0px;
}


/************** Footer ****************/
footer a {
    text-decoration: none;
}

footer ul li {
    list-style: none;
    margin: 30px 40px;
    text-align: right;
}

.socials a {
    margin: 0px 10px;
}




/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .navbar {
        margin: 1rem 1.5rem;
    }

    .navbar img {
        width: 120px;
        height: 30px;
    }

    .navlinks ul {
        display: none;
        background-color: #fff;
        right: 0;
        left: 0;
        text-align: right;
        padding: 10px 0;   
    }

    .navlinks li:hover {
        display: inline-block;
        background-color: #000;
        transition: 0. 3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    .navlinks li {
        list-style: none;
        font-size: .5rem;
        text-transform: uppercase;
        margin: 0px .8rem;
    }

    .navlinks a:hover {
        border-radius: 5px;
        font-size: .85rem;
        background-color: #2C32BE;
        border: 1px solid #2C32BE;
        color: #fff;
        padding: .25rem .5rem;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }


    /************** Introduction ****************/
    .hero {
        background-image: url(img/illustration-0.png);
        background-position: center;
        height: 35vh;
        background-size: 100%;
        margin: 1rem 1.5rem;
    }

    .hero h1 {
        font-size: 1.5rem;
        margin-top: 1.7rem;
    }

    .hero p {
        font-size: .8rem;
        padding-top: 1.5rem;
    }

    .links img {
        width: 90px;
        height: 30px;
        margin: 20px 2px 0 2px;
    }


    /************** Getting Started ****************/
    .setup {
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .getstarted {
        background: none;
        margin-left: .4rem;
        margin-right: .4rem;
    }

    .setup h1 {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .article {
        margin-left: .4rem;
        margin-right: .4rem;
    }

    .list {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .list span {
        font-size: 3rem;
    }

    .list h2 {
        font-size: 1rem;
        font-weight: bolder;
        margin: 2px 1px;
    }

    .list p {
        font-size: .6rem;
        margin: 5px 2px;
    }


    /************** Saving ****************/
    .saving {
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .saving h1 {
        color:  #00A3FF;
        font-size: 2rem;
        margin-top: 35px;
    }

    .saving p {
        font-size: .8rem;
        line-height: 20px;
        color: rgb(61, 61, 68);
        margin-bottom: 5px;
    }

    .save {
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }

    .saving-img {
        display: none;
    }


    /************** Vision ****************/
    .vision {
        position: relative;
        justify-content: space-evenly;
        background-color:#2C32BE ;
        color: #fff;
        border-radius: 35px;
        text-align: center;
        margin: 30px 100px;
    }

    .vision h1 {
        font-size: 50px;
        padding: 40px 5px 10px 5px;
    }

    .vision p {
        font-size: 23px;
        padding: 20px;
    }

    .icon-group {
        display: flex;
        justify-content: center;
    }

    .icons {
        font-size: 15px;
        padding: 40px;
    }


    /************** Footer ****************/
    footer a {
        text-decoration: none;
    }

    footer ul li {
        list-style: none;
        margin: 30px 40px;
        text-align: right;
    }
}





* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Add CSS for menu-icon */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Change the display property to none */
    display: none;
  }
  
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }




  /* For Tablets */
@media all and (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* For Smartphones */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    /* Add CSS for header-right */
    .header-right {
      display: none;
    }
    
    /* Add CSS for menu-icon */
    .menu-icon {
      display: block;
  }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  
